<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css"> 
    <title>Document</title>
</head>
<body>
  <nav class="navbar">
            <a href="/" class="logo"><img src="/img/logo.png" alt="Logo"></a>
            <div class="nav-links">
                <a href="/profile">Profile</a>
                <a href="/episodes">Episodes</a>
                <a href="/login">Login</a>
            </div>
  </nav>
      <div class="container">
        <header>
            <h1>South Park Episodes</h1>
        </header>
        <form action="/episodes" method="post">
            <select name="theme_id">
                <% @themes.each do |theme| %>
                    <option value="<%= theme[:id] %>"><%= theme[:category] %></option>
                <% end %>
            </select>
            <input type="submit" class="submit-btn" value="Filter Episodes">
        </form>

        <div class="episode-list">
            <% @episodes.each do |episode| %>
                <div class="episode-box">
                    <div class="episode-content">
                       <img src="/img/<%= episode[0] %>.jpg" alt="Episode Image">
                        <h3><a href="/episodes/<%= episode[0] %>"><%= episode[1] %></a></h3>
                        <p><%= episode[2] %></p>
                    </div>
                </div>
            <% end  %>
        </div>

        <div class="footer">
            <a href="/" class="back-link">Back to homepage!</a>
        </div>
    </div>
</body>
</html>




